<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nombreDelProducto}">Nombre del producto</div>
			<div>Valor: <span th:text="${pedido.valorNegociado}">R$1000,00</span></div>
			<div>Fecha de entrega: <span th:text="${pedido.fechaDeEntrega}">10/10/2022</span></div>
			<div>Producto</div>
			<div><input th:value="${pedido.urlProducto}" value="URL del producto"/></div>
			<div>Descripcion</div>
			<div>
				<textarea th:text="${pedido.descripcion}">descripcion</textarea>
			</div>
			<div>
				<img th:src="${pedido.urlImagen}" src="">
			</div>
		</div>
	</body>
</html>